.footer {
    display: flex;
    gap: 128px;
}

.footer__logo {
    height: 50px;
}

.footer__info {

}

.footer__info-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__info-list-title {
    font-weight: 600;
    color: var(--font-light);
}

.footer__info-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}