.card {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.card__img {
    border-radius: 8px;
}

.card__img:hover {
    transform: scale(1.03);
    transition: transform 300ms;
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.card__row-wrapper {
    display: flex;
    justify-content: space-between;
}

.card__cost {
    font-weight: 600;
}

.card__cost::after {
    content: "\20BD";
}


.card__description {
    color: var(--waterloo);
}

.card__date {
    font-size: 12px;
    font-weight: 500;
}

.card__button {
    max-width: 100%;
    padding: 8px 12px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--cornflower-blue);
    border: none;
    border-radius: 8px;
    transition: all 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.card__button:hover {
    color: var(--white);
    background-color: var(--san-marino);
    border-radius: 8px;
    transition: all 0.5s;
}