:root {
    --white: #ffffff;
    --mischka: #D0D5DD;
    --waterloo: #8181A5;
    --cornflower-blue: #5E81F4;
    --san-marino: #475eab;
    --oxford-blue: #374957;

    /* set colors */

    --background: var(--white);
    --font-base-color: var(--oxford-blue);
}