/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #5E81F4;
    --primary-dark: #1C1D21;
    --white: #ffffff;
    --button-hover: #9698D6;
    --font-light: #8181A5;
}